In [13]:
import pandas as pd
import sqlite3
import json
orders=pd.read_csv('./orders.csv')
useres=pd.read_json('./users.json')

connection=sqlite3.connect(':memory:')
with open('./restaurants.sql','r') as file:
    connection.executescript(file.read())

    restaurants=pd.read_sql_query('SELECT * FROM restaurants',connection)

    merged_with_users=pd.merge(orders,useres,on='user_id',how='left')
    final_data=pd.merge(merged_with_users,restaurants,on='restaurant_id',how='left')
    final_data.to_csv('final_data.csv',index=False)

    print(final_data.head())

   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                restaurant_name_x       name       city membership  \
0               New Foods Chinese  User_2508  Hyderabad    Regular
1  Ruchi Curry House Multicuisine  User_2693       Pune    Regular
2           Spice Kitchen Punjabi  User_2084    Chennai       Gold
3          Darbar Kitchen Non-Veg   User_319  Bangalore       Gold
4       Royal Eatery South Indian  User_1064       Pune    Regular

  restaurant_name_y  cuisine  rating
0    Restaurant_450  Mexican     3.2
1    Restaurant_309   Indian     4.5
2    Restaurant_107  Mexican     4.0
3    Restaurant_224  Chinese     4.8
4    Restaurant_293  Italian     3.0